#grid {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(7,20%);
}

.reclit {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
}

.recdim {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
  opacity: 50%;
  animation: blink-animation 2s steps(7, start) infinite;
  -webkit-animation: blink-animation 2s steps(7, start) infinite;
}

/* Blink Animation from: https://stackoverflow.com/questions/13955163/imitating-a-blink-tag-with-css3-animations
 */

@keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}

/* @keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
} */


body {
  background-color: #001D36;
}

.window1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.window1fu {
  grid-column-start: 2;
  grid-row-start: 3;
}

.window2fu {
  grid-column-start: 6;
  grid-row-end: 3;
}

.reclit1 {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
  grid-column-start: 6;
  grid-row-start: 1;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.reclit2 {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
  grid-column: 2;
  grid-row-start: 1;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.reclit3 {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
  grid-column-start: 3;
  grid-row-start: 2;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.reclit4 {
  background-color: #FFF8BD;
  width: 3vw;
  height: 8vh;
  margin: 0.5vw;
  grid-column: 5;
  grid-row: 4;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.lets {
  color: #FFFFEC;
  font-size: 4vw;
  font-family: 'Corben', cursive;
  grid-column-start: 2;
  grid-row-start: 1;
}

.take {
  color: #FFFFEC;
  font-size: 3vw;
  font-family: 'Corben', cursive;
  grid-column-start: 5;
  grid-row-start: 1;
}

.walk {
  color: #FFFFEC;
  font-size: 2vw;
  font-family: 'Corben', cursive;
  grid-column-start: 3;
  grid-row-start: 2;
  white-space: nowrap;
}

.on {
  color: #FFFFEC;
  font-size: 5vw;
  font-family: 'Corben', cursive;
  grid-column-start: 7;
  grid-row-start: 2;
  white-space: nowrap;
}

.the {
  color: #FFFFEC;
  font-size: 5vw;
  font-family: 'Corben', cursive;
  grid-column: 1;
  grid-row-start: 3;
  white-space: nowrap;
}

.skyline {
  color: #FFFFEC;
  font-size: 3vw;
  font-family: 'Corben', cursive;
  grid-column-start: 4;
  grid-row-start: 3;
  white-space: nowrap;
}

a {
  color: #FEE50D;
  font-size: 4vw;
  font-family: 'Corben', cursive;
  grid-column: 7;
  grid-row: 4;
  text-decoration: none;
}
